/* Don't Modify */
:root {
  --clr-base-400: #5e5e5e;
  --clr-base-500: #494949;

  --clr-ui-300: #f8e2ff;
  --clr-ui-400: #580d3a;
  --clr-ux-300: #e2ffea;
  --clr-ux-400: #115926;
  --clr-dev-300: #e2fcff;
  --clr-dev-400: #024f4f;

  --clr-accent-400: #7e47c5;

  --ff-accent: "Podkova", serif;
  --ff-base: "Open Sans", sans-serif;

  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 2rem;

  --fw-400: 400;
  --fw-700: 700;

  --shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  --border-radius: 0.75rem;
}

html {
  font-family: var(--ff-base);
}

.candidates {
  display: flex;
  justify-content: center;
  gap: 1.3rem;
  padding: 1.3rem;
  flex-wrap: wrap;
}

.candidate {
  padding: 1.5rem;
  background-color: #f2f2f2;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  width: calc(50% - 1.3rem);
  box-sizing: border-box;
  position: relative;
}

.img_ul img {
  border-radius: var(--border-radius);
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.texts {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.name {
  font-family: var(--ff-accent);
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
  color: var(--clr-base-500);
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.roles {
  margin-bottom: 0.5rem;
}

.tag {
  font-family: var(--ff-base);
  font-size: var(--fs-300);
  font-weight: var(--fw-700);
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  white-space: nowrap;
}

.tag:nth-of-type(1) {
  background-color: var(--clr-ui-300);
  color: var(--clr-ui-400);
}

.tag:nth-of-type(2) {
  background-color: var(--clr-ux-300);
  color: var(--clr-ux-400);
}

.bio {
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  color: var(--clr-base-400);
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.social {
  display: flex;
  position: relative;
  left: 45px;
  top: 13px;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.social li {
  list-style-type: none;
}

.social img {
  width: 18px;
  height: 18px;
  border-radius: 0px;
}

.btn {
  background-color: var(--clr-accent-400);
  color: white;
  font-family: var(--ff-accent);
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--fw-700);
  width: auto;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}
